<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aluguéis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <div id="toggle-nav">
        <span class="material-icons-outlined">dehaze</span>
      </div>

      <h1>Locadora de livros</h1>

      <!-- Wrapper fora de #header-user -->
      <div class="profile-wrapper">
        <div id="header-user">
          <span id="profile-button" class="material-icons-outlined"
            >person</span
          >
        </div>

        <!-- Modal fora de #header-user -->
        <div id="profile-modal">
          <p class="name">João Silva</p>
          <p class="email">joao@email.com</p>
          <a href="/index.html" id="logout-button">Log Out</a>
        </div>
      </div>
    </header>
    <nav id="navbar">
      <img src="/assets/images/WDA GROUP LOGO.png" alt="" />
      <ul>
        <li>
          <a href="dashboard.html" class="nav-item" data-title="Relatório geral"
            ><span class="material-icons-outlined">grid_view</span> Relatório
            geral</a
          >
        </li>
        <li>
          <a href="usuarios.html" class="nav-item" data-title="Usuários"
            ><span class="material-icons-outlined">group</span> Usuários</a
          >
        </li>
        <li>
          <a href="editoras.html" class="nav-item" data-title="Editoras"
            ><span class="material-icons-outlined">import_contacts</span>
            Editoras</a
          >
        </li>
        <li>
          <a href="livros.html" class="nav-item" data-title="Livros"
            ><span class="material-icons-outlined">library_books</span>
            Livros</a
          >
        </li>
        <li>
          <a href="locatarios.html" class="nav-item" data-title="Locatários"
            ><span class="material-icons-outlined">person_add</span>
            Locatários</a
          >
        </li>
        <li>
          <a href="alugueis.html" class="nav-item active" data-title="Aluguéis"
            ><span class="material-icons-outlined">bookmark</span> Aluguéis</a
          >
        </li>
      </ul>
    </nav>
    <main>
      <section>
        <div id="users-div">
          <h2>Aluguéis</h2>
          <div id="search-div">
            <span class="material-icons-outlined">dehaze</span>
            <input id="search-input" type="text" placeholder="Buscar aluguel" />
            <span id="search-button" class="material-icons-outlined"
              >search</span
            >
          </div>
        </div>
        <div id="table-container">
          <table id="users-table">
            <thead>
              <tr>
                <th>Livro</th>
                <th>Locatário</th>
                <th>Data de Locação</th>
                <th>Data de Devolução</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
          <p id="mensagem-erro">Nenhum aluguel foi encontrado.</p>
          <div id="pagination"></div>
        </div>
        <div id="add-user-div">
          <button id="add-user-btn">
            <span class="material-icons-outlined">add_circle_outline</span>
            Cadastrar novo aluguel
          </button>
        </div>
      </section>
    </main>

    <div id="modal-overlay" class="modal-overlay"></div>

    <div id="modal-cadastrar" class="modal">
      <div class="modal-content">
        <button class="close-modal-btn" aria-label="Fechar">
          <span class="material-icons-outlined">close</span>
        </button>
        <form id="form-cadastrar">
          <div class="form-group">
            <label for="register-livro">Livro</label>
            <select id="register-livro">
              <option value="">Selecione um Livro</option>
            </select>
          </div>
          <div class="form-group">
            <label for="register-locatario">Locatário</label>
            <select id="register-locatario">
              <option value="">Selecione um Locatário</option>
            </select>
          </div>
          <div class="form-group">
            <label for="register-data-locacao">Data de Locação</label>
            <input
              type="date"
              id="register-data-locacao"
              name="dataLocacao"
              placeholder="Data de Locação"
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="form-group">
            <label for="register-data-devolucao">Data de Devolução</label>
            <input
              type="date"
              id="register-data-devolucao"
              name="dataDevolucao"
              placeholder="Data de Devolução"
              oninput="this.setCustomValidity('')"
            />
          </div>
          <div class="modal-actions">
            <button type="submit" class="btn-primary">Cadastrar</button>
            <button type="button" class="btn-secondary">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div id="modal-atualizar" class="modal">
      <div class="modal-content">
        <button class="close-modal-btn" aria-label="Fechar">
          <span class="material-icons-outlined">close</span>
        </button>
        <form id="form-atualizar">
          <div class="form-group">
            <label for="update-livro">Livro</label>
            <input
              type="text"
              id="update-livro"
              name="livro"
              placeholder="Livro"
              required
            />
          </div>
          <div class="form-group">
            <label for="update-locatario">Locatário</label>
            <input
              type="text"
              id="update-locatario"
              name="locatario"
              placeholder="Locatário"
              required
            />
          </div>
          <div class="form-group">
            <label for="update-data-locacao">Data de Locação</label>
            <input
              type="date"
              id="update-data-locacao"
              name="dataLocacao"
              placeholder="Data de Locação"
              required
            />
          </div>
          <div class="form-group">
            <label for="update-data-devolucao">Data de Devolução</label>
            <input
              type="date"
              id="update-data-devolucao"
              name="dataDevolucao"
              placeholder="Data de Devolução"
              required
            />
          </div>
          <div class="modal-actions">
            <button
              type="submit"
              id="btn-primary-atualizar"
              class="btn-primary"
            >
              Atualizar
            </button>
            <button type="button" class="btn-secondary">Cancelar</button>
          </div>
        </form>
      </div>
    </div>

    <div id="modal-cadastrando" class="modal">
      <div class="modal-content">
        <button class="close-modal-btn" aria-label="Fechar">
          <span class="material-icons-outlined">close</span>
        </button>
        <div class="modal-smaller-content">
          <span class="material-icons-outlined">check_circle</span>
          <h3>Aluguel cadastrado!</h3>
        </div>
      </div>
    </div>
    <div id="modal-atualizando" class="modal">
      <div class="modal-content">
        <button class="close-modal-btn" aria-label="Fechar">
          <span class="material-icons-outlined">close</span>
        </button>
        <div class="modal-smaller-content">
          <span class="material-icons-outlined">check_circle</span>
          <h3>Aluguel atualizado!</h3>
        </div>
      </div>
    </div>
    <div id="modal-deletando" class="modal">
      <div class="modal-content">
        <button class="close-modal-btn" aria-label="Fechar">
          <span class="material-icons-outlined">close</span>
        </button>
        <div class="modal-smaller-content">
          <span class="material-icons-outlined">check_circle</span>
          <h3>Aluguel excluído!</h3>
        </div>
      </div>
    </div>
    <div id="modal-confirmando" class="modal">
      <div class="modal-content">
        <button class="close-modal-btn" aria-label="Fechar">
          <span class="material-icons-outlined">close</span>
        </button>
        <div class="modal-smaller-content">
          <h3>Você realmente deseja excluir esse aluguel?</h3>
          <div class="modal-actions">
            <button type="submit" class="btn-primary">Sim</button>
            <button type="button" class="btn-secondary">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="/js/alugueis.js"></script>
  </body>
</html>
