.background-color {
  background: linear-gradient(to left, #2aa9b5 35%, #c4faff);
}

.header-color {
  background: linear-gradient(to right, #004147, #009ead);
}

.nav-color {
  background-color: #004147;
}

.wda-img {
  
}
